/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #78a7c6;
    /* display: flex; */
    /* justify-content: center; */
}

  

.two-titles {
    margin: 100px;
    padding: 10px; 
}

.two-titles > .header {
    position: fixed;
    top: 5%;
    left: 43%;
    font-size: x-large;
    margin-bottom: 100px;
}

.two-titles > .what-type-message {
   position: fixed;
    top: 30%;
    left: 42%; 
}



.type-of-message-box {
    position: fixed;
    top: 38%;
    left: 31%;
    border: 1px;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 45px;
    padding-left: 450px;
    max-width: 30%;
    background-color: white;
}

.both-radio-buttons {
    position: fixed;
    top: 40%;
    left: 42%; 

}


#recive-message-button {
    position: fixed;
    top: 45%;
    left: 43%;
    padding: 5px;
    width: 13%;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color:#134d71; 
}

.displayed-message {
    position: fixed;
    top: 30%;
    left: 6%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 1px;
    border-radius: 10px;
    margin: 200px;
    padding: 50px;
    width: 50%;
    background-color: white;
    

}

.meditation-guy {
    max-width: 10%;
    max-height: fit-content;
}

